[submodule "5723478"]
	path = 57234078
	url = ssh://git@github.com/mojadita/so-monitor
[submodule "49965333"]
	path = 49965333
	url = ssh://git@github.com/mojadita/signals
[submodule "6189146"]
	path = 56189146
	url = ssh://git@github.com/mojadita/so-56189146
[submodule "57333102"]
	path = 57333102
	url = git@github.com:mojadita/fprintbuf.git
[submodule "59083362"]
	path = 59083362
	url = git@github.com:mojadita/tree_pre_in_order.git
